* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  min-height: 100%;
  font-family: 'Inter', 'Noto Sans JP', 'Segoe UI', sans-serif;
  background-color: #FFFFFF;
  color: #111111;

}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}